CompileFlags:
  CompilationDatabase: build/default
  Add: [-xc++, -std=c++20, -Wall, -Wno-missing-prototypes]
  Remove: [-mabi]
Diagnostics:
  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove:
      [
        modernize-use-trailing-return-type,
        modernize-use-nodiscard,
        modernize-use-equals-default,
        modernize-avoid-c-arrays,
        modernize-macro-to-enum,
        performance-enum-size,
        readability-magic-numbers,
        readability-function-cognitive-complexity,
        readability-identifier-length,
        readability-named-parameter,
        readability-convert-member-functions-to-static,
        readability-make-member-function-const,
        readability-use-concise-preprocessor-directives,
        readability-redundant-access-specifiers,
        readability-math-missing-parentheses,
        readability-braces-around-statements,
      ]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
      readability-identifier-naming.VariableIgnoredRegexp: ^[_eijk]$
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.ClassMemberCase: CamelCase
      readability-identifier-naming.PrivateMemberCase: CamelCase
      readability-identifier-naming.PrivateMemberPrefix: _
      readability-identifier-naming.ProtectedMemberCase: CamelCase
      readability-identifier-naming.ProtectedMemberPrefix: _
      readability-identifier-length.MinimumParameterNameLength: 2
      readability-identifier-length.IgnoredExceptionVariableNames: ^[_e]$

  UnusedIncludes: Strict
  MissingIncludes: None

---
If:
  PathMatch: .*/build/_deps/.*
Diagnostics:
  Suppress: "*"

InlayHints:
  Enabled: No
  BlockEnd: No
  Designators: No
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24
