CompileFlags:
  # Treat code as C++, use C++20 standard, enable more warnings.
  Add: [-xc++, -std=c++20, -Wall, -Wno-missing-prototypes]
  # Remove extra warnings specified in compile commands.
  # Single value is also acceptable, same as "Remove: [-mabi]"
  Remove: [-mabi]
  Compiler: /opt/homebrew/opt/llvm/bin/clang++
Diagnostics:
  # Tweak Clang-Tidy checks.
  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove:
      [readability-magic-numbers, readability-function-cognitive-complexity]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
      readability-identifier-naming.VariableIgnoredRegexp: ^[_e]$
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.ClassMemberCase: CamelCase
      readability-identifier-naming.PrivateMemberCase: CamelCase
      readability-identifier-naming.PrivateMemberPrefix: _
      readability-identifier-length.MinimumParameterNameLength: 2
      readability-identifier-length.IgnoredExceptionVariableNames: ^[_e]$

  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader: H5*

InlayHints:
  Enabled: No
  BlockEnd: No
  Designators: No
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24
